/* Colours: Bootstrap, revealjs, fallback */
.quarto-light {
  --exercise-main-color: var(--bs-body-color, var(--r-main-color, #212529));
  --exercise-main-bg: var(--bs-body-bg, var(--r-background-color, #ffffff));
  --exercise-primary-rgb: var(--bs-primary-rgb, 13, 110, 253);
  --exercise-default: var(--bs-default, #dee2e6);
  --exercise-cap-bg: var(--bs-light-bg-subtle, #f8f8f8);
  --exercise-line-bg: rgba(var(--exercise-primary-rgb), 0.05);
  --exercise-line-gutter-bg: rgba(var(--exercise-primary-rgb), 0.1);
}

.quarto-dark {
  --exercise-main-color: var(--bs-body-color, var(--r-main-color, #ffffff));
  --exercise-main-bg: var(--bs-body-bg, var(--r-background-color, #222222));
  --exercise-primary-rgb: var(--bs-primary-rgb, 55, 90, 127);
  --exercise-default: var(--bs-default, #434343);
  --exercise-cap-bg: var(--bs-card-cap-bg, #505050);
  --exercise-line-bg: rgba(var(--exercise-primary-rgb), 0.2);
  --exercise-line-gutter-bg: rgba(var(--exercise-primary-rgb), 0.4);
}

/* Client-side loading indicator */
div.exercise-loading-indicator {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 1.2rem;
  padding: 0.2rem 0.75rem;
  border: 1px solid var(--exercise-default);
  background-color: var(--exercise-cap-bg);
  border-top-left-radius: 5px;
}

/* Editor header buttons */
.card.exercise-editor-card .card-header a.btn {
  --bs-btn-padding-x: 0.5rem;
  --bs-btn-padding-y: 0.15rem;
  --bs-btn-font-size: 0.75rem;
}

.quarto-dark .card.exercise-editor-card .card-header .btn.btn-outline-dark {
  --bs-btn-color: #f8f8f8;
  --bs-btn-border-color: #f8f8f8;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #f8f8f8;
  --bs-btn-hover-border-color: #f8f8f8;
  --bs-btn-focus-shadow-rgb: 248, 248, 248;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #f8f8f8;
  --bs-btn-active-border-color: #f8f8f8;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #f8f8f8;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f8f8f8;
  --bs-btn-bg: transparent;
  --bs-gradient: none;
}

/* Codemirror Editor */
.card.exercise-editor-card .card-header {
  padding: 0.5rem 1rem;
  background-color: var(--exercise-cap-bg);
  border-bottom: 1px solid rgba(0, 0, 0, 0.175);
}

.card.exercise-editor-card .cm-editor {
  color: var(--exercise-main-color);
  background-color: var(--exercise-main-bg);
}

.card.exercise-editor-card .cm-content {
  caret-color: var(--exercise-main-color);
}

.card.exercise-editor-card .cm-cursor,
.card.exercise-editor-card .cm-dropCursor {
  border-left-color: var(--exercise-main-color);
}

.card.exercise-editor-card .cm-focused .cm-selectionBackgroundm .cm-selectionBackground,
.card.exercise-editor-card .cm-content ::selection {
  background-color: rgba(var(--exercise-primary-rgb), 0.1);
}

.card.exercise-editor-card .cm-activeLine {
  background-color: var(--exercise-line-bg);
}

.card.exercise-editor-card .cm-activeLineGutter {
  background-color: var(--exercise-line-gutter-bg);
}

.card.exercise-editor-card .cm-gutters {
  background-color: var(--exercise-cap-bg);
  color: var(--exercise-main-color);
  border-right: 1px solid var(--exercise-default);
}

/* Syntax Highlighting */
:root {
  --exercise-editor-hl-al: var(--quarto-hl-al-color);
  --exercise-editor-hl-an: var(--quarto-hl-an-color);
  --exercise-editor-hl-at: var(--quarto-hl-at-color);
  --exercise-editor-hl-bn: var(--quarto-hl-bn-color);
  --exercise-editor-hl-bu: var(--quarto-hl-bu-color);
  --exercise-editor-hl-ch: var(--quarto-hl-ch-color);
  --exercise-editor-hl-co: var(--quarto-hl-co-color);
  --exercise-editor-hl-cv: var(--quarto-hl-cv-color);
  --exercise-editor-hl-cn: var(--quarto-hl-cn-color);
  --exercise-editor-hl-cf: var(--quarto-hl-cf-color);
  --exercise-editor-hl-dt: var(--quarto-hl-dt-color);
  --exercise-editor-hl-dv: var(--quarto-hl-dv-color);
  --exercise-editor-hl-do: var(--quarto-hl-do-color);
  --exercise-editor-hl-er: var(--quarto-hl-er-color);
  --exercise-editor-hl-ex: var(--quarto-hl-ex-color);
  --exercise-editor-hl-fl: var(--quarto-hl-fl-color);
  --exercise-editor-hl-fu: var(--quarto-hl-fu-color);
  --exercise-editor-hl-im: var(--quarto-hl-im-color);
  --exercise-editor-hl-in: var(--quarto-hl-in-color);
  --exercise-editor-hl-kw: var(--quarto-hl-kw-color);
  --exercise-editor-hl-op: var(--quarto-hl-op-color);
  --exercise-editor-hl-ot: var(--quarto-hl-ot-color);
  --exercise-editor-hl-pp: var(--quarto-hl-pp-color);
  --exercise-editor-hl-re: var(--quarto-hl-re-color);
  --exercise-editor-hl-sc: var(--quarto-hl-sc-color);
  --exercise-editor-hl-ss: var(--quarto-hl-ss-color);
  --exercise-editor-hl-st: var(--quarto-hl-st-color);
  --exercise-editor-hl-va: var(--quarto-hl-va-color);
  --exercise-editor-hl-vs: var(--quarto-hl-vs-color);
  --exercise-editor-hl-wa: var(--quarto-hl-wa-color);
}

pre > code.sourceCode span.tok-keyword {
  color: var(--exercise-editor-hl-kw);
}

pre > code.sourceCode span.tok-operator {
  color: var(--exercise-editor-hl-op);
}

pre > code.sourceCode span.tok-definitionOperator {
  color: var(--exercise-editor-hl-ot);
}

pre > code.sourceCode span.tok-compareOperator {
  color: var(--exercise-editor-hl-ot);
}

pre > code.sourceCode span.tok-attributeName {
  color: var(--exercise-editor-hl-at);
}

pre > code.sourceCode span.tok-controlKeyword {
  color: var(--exercise-editor-hl-cf);
}

pre > code.sourceCode span.tok-comment {
  color: var(--exercise-editor-hl-co);
}

pre > code.sourceCode span.tok-comment {
  color: var(--exercise-editor-hl-co);
}

pre > code.sourceCode span.tok-string {
  color: var(--exercise-editor-hl-st);
}

pre > code.sourceCode span.tok-string2 {
  color: var(--exercise-editor-hl-ss);
}

pre > code.sourceCode span.tok-variableName {
  color: var(--exercise-editor-hl-va);
}

pre > code.sourceCode span.tok-bool,
pre > code.sourceCode span.tok-literal,
pre > code.sourceCode span.tok-separator
{
  color: var(--exercise-editor-hl-cn);
}

pre > code.sourceCode span.tok-bool,
pre > code.sourceCode span.tok-literal
{
  color: var(--exercise-editor-hl-cn);
}

pre > code.sourceCode span.tok-number,
pre > code.sourceCode span.tok-integer
{
  color: var(--exercise-editor-hl-dv);
}

pre > code.sourceCode span.tok-function-variableName {
  color: var(--exercise-editor-hl-fu);
}

pre > code.sourceCode span.tok-function-attributeName {
  color: var(--exercise-editor-hl-at);
}

/* Revealjs (to match editor with bootstrap) */
/* Container card */
.reveal .d-none,
.reveal .webr-ojs-exercise.d-none
.reveal .exercise-loading-indicator.d-none {
  display: none !important;
}

.reveal .card.exercise-editor-card .d-flex {
  display: flex !important;
}

.reveal .card.exercise-editor-card .justify-content-between {
  justify-content: space-between !important;
}

.reveal .card.exercise-editor-card .align-items-center {
  align-items: center !important;
}

.reveal .card.exercise-editor-card .gap-1 {
  gap: .25rem !important;
}

.reveal .card.exercise-editor-card .gap-2 {
  gap: .5rem !important;
}

.reveal .card.exercise-editor-card .gap-3 {
  gap: .75rem !important;
}

.reveal .card.exercise-editor-card {
  margin: 1rem 0;
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius: 0.375rem;
  font-size: .55em;
  overflow: hidden;
}

.reveal .card.exercise-editor-card .card-header {
  padding: 0.5rem 1rem;
  background-color: var(--exercise-cap-bg);
  border-bottom: 1px solid rgba(0, 0, 0, 0.175);
}

/* Button styling */
.quarto-light .reveal .btn.btn-exercise-editor.btn-primary {
  --exercise-btn-bg: var(--bs-btn-bg, #0d6efd);
  --exercise-btn-color: var(--bs-btn-color, #ffffff);
  --exercise-btn-border-color: var(--bs-btn-border-color, #0d6efd);
  --exercise-btn-hover-border-color: var(--bs-btn-hover-border-color, #0b5ed7);
  --exercise-btn-hover-bg: var(--bs-btn-hover-bg, #0b5ed7);
  --exercise-btn-hover-color: var(--bs-btn-hover-color, #ffffff);
}

.quarto-dark .reveal .btn.btn-exercise-editor.btn-primary {
  --exercise-btn-bg: var(--bs-btn-bg, #375a7f);
  --exercise-btn-color: var(--bs-btn-color, #ffffff);
  --exercise-btn-border-color: var(--bs-btn-border-color, #375a7f);
  --exercise-btn-hover-border-color: var(--bs-btn-hover-border-color, #2c4866);
  --exercise-btn-hover-bg: var(--bs-btn-hover-bg, #2c4866);
  --exercise-btn-hover-color: var(--bs-btn-hover-color, #ffffff);
}

.quarto-light .reveal .btn.btn-exercise-editor.btn-outline-dark {
  --exercise-btn-bg: var(--bs-btn-bg, transparent);
  --exercise-btn-color: var(--bs-btn-color, #333);
  --exercise-btn-border-color: var(--bs-btn-border-color, #333);
  --exercise-btn-hover-border-color: var(--bs-btn-hover-border-color, #333);
  --exercise-btn-hover-bg: var(--bs-btn-hover-bg, #333);
  --exercise-btn-hover-color: var(--bs-btn-hover-color, #ffffff);
}

.quarto-dark .reveal .btn.btn-exercise-editor.btn-outline-dark {
  --exercise-btn-bg: var(--bs-btn-bg, transparent);
  --exercise-btn-color: var(--bs-btn-color, #f8f8f8);
  --exercise-btn-border-color: var(--bs-btn-border-color, #f8f8f8);
  --exercise-btn-hover-border-color: var(--bs-btn-hover-border-color, #f8f8f8);
  --exercise-btn-hover-bg: var(--bs-btn-hover-bg, #f8f8f8);
  --exercise-btn-hover-color: var(--bs-btn-hover-color, #000000);
}

.reveal .card.exercise-editor-card .btn-group {
  border-radius: .375rem;
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}

.reveal .card.exercise-editor-card .btn-group>.btn {
  position: relative;
  flex: 1 1 auto;
}

.reveal .card.exercise-editor-card .btn-group>:not(.btn-check:first-child)+.btn,
.reveal .card.exercise-editor-card .btn-group>.btn-group:not(:first-child) {
  margin-left: calc(1px*-1)
}

.reveal .card.exercise-editor-card .btn-group>.btn:not(:last-child):not(.dropdown-toggle),
.reveal .card.exercise-editor-card .btn-group>.btn.dropdown-toggle-split:first-child,
.reveal .card.exercise-editor-card .btn-group>.btn-group:not(:last-child)>.btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0
}

.reveal .card.exercise-editor-card .btn-group>.btn:nth-child(n+3),
.reveal .card.exercise-editor-card .btn-group>:not(.btn-check)+.btn,
.reveal .card.exercise-editor-card .btn-group>.btn-group:not(:first-child)>.btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0
}

.reveal .btn.btn-exercise-editor {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  color: var(--exercise-btn-color);
  background-color: var(--exercise-btn-bg);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid var(--exercise-btn-border-color);
  border-radius: 0.375rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.reveal .btn.btn-exercise-editor:hover {
  color: var(--exercise-btn-hover-color);
  background-color: var(--exercise-btn-hover-bg);
  border-color: var(--exercise-btn-hover-border-color);
}

.reveal .btn.btn-exercise-editor:disabled,
.reveal .btn.btn-exercise-editor.disabled,
.reveal .btn-exercise-editor fieldset:disabled .btn {
  pointer-events: none;
  opacity: 0.65;
}

/* Spinner */
.reveal .card.exercise-editor-card .spinner-grow {
  background-color: currentcolor;
  opacity: 0;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: -0.125em;
  border-radius: 50%;
  animation: 0.75s linear infinite spinner-grow;
}

@keyframes spinner-grow {
  0% {
    transform: scale(0)
  }

  50% {
    opacity: 1;
    transform: none
  }
}

/* Output cells */
div.exercise-cell-output.cell-output-stdout pre code,
div.exercise-cell-output.cell-output-stderr pre code {
  white-space: pre-wrap;
  word-wrap: break-word;
}

div.exercise-cell-output.cell-output-stderr pre code {
color: var(--bs-danger, #dc3545);
}

div.cell-output-pyodide table {
  border: none;
  margin: 0 auto 1em auto;
}

div.cell-output-pyodide thead {
  border-bottom: 1px solid var(--exercise-main-color);
}

div.cell-output-pyodide td,
div.cell-output-pyodide th,
div.cell-output-pyodide tr {
  padding: 0.5em;
  line-height: normal;
}

div.cell-output-pyodide th {
  font-weight: bold;
}

/* Hints and solutions */
.tab-pane > .exercise-tab-pane-header {
  margin-bottom: 1em;
}

/* Feedback alerts */
.alert .exercise-feedback p:last-child {
  margin-bottom: 0;
}

.reveal .alert.exercise-grade {
  font-size: .55em;
  position: relative;
  padding: 1rem 1rem;
  margin: 1rem 0;
  border-radius: 0.25rem;
  color: var(--exercise-alert-color);
  background-color: var(--exercise-alert-bg);
  border: 1px solid var(--exercise-alert-border-color);
}

.reveal .alert.exercise-grade .alert-link {
  font-weight: 700;
  color: var(--exercise-alert-link-color);
}

.quarto-light .reveal .exercise-grade.alert-info {
  --exercise-alert-color: #055160;
  --exercise-alert-bg: #cff4fc;
  --exercise-alert-border-color: #9eeaf9;
  --exercise-alert-link-color: #055160;
}

.quarto-light .reveal .exercise-grade.alert-success {
  --exercise-alert-color: #0a3622;
  --exercise-alert-bg: #d1e7dd;
  --exercise-alert-border-color: #a3cfbb;
  --exercise-alert-link-color: #0a3622;
}

.quarto-light .reveal .exercise-grade.alert-warning {
  --exercise-alert-color: #664d03;
  --exercise-alert-bg: #fff3cd;
  --exercise-alert-border-color: #ffe69c;
  --exercise-alert-link-color: #664d03;
}

.quarto-light .reveal .exercise-grade.alert-danger {
  --exercise-alert-color: #58151c;
  --exercise-alert-bg: #f8d7da;
  --exercise-alert-border-color: #f1aeb5;
  --exercise-alert-link-color: #58151c;
}

.quarto-dark .reveal .exercise-grade.alert-info {
  --exercise-alert-color: #ffffff;
  --exercise-alert-bg: #3498db;
  --exercise-alert-border-color: #3498db;
  --exercise-alert-link-color: #ffffff;
}

.quarto-dark .reveal .exercise-grade.alert-success {
  --exercise-alert-color: #ffffff;
  --exercise-alert-bg: #00bc8c;
  --exercise-alert-border-color: #00bc8c;
  --exercise-alert-link-color: #ffffff;
}

.quarto-dark .reveal .exercise-grade.alert-warning {
  --exercise-alert-color: #ffffff;
  --exercise-alert-bg: #f39c12;
  --exercise-alert-border-color: #f39c12;
  --exercise-alert-link-color: #ffffff;
}

.quarto-dark .reveal .exercise-grade.alert-danger {
  --exercise-alert-color: #ffffff;
  --exercise-alert-bg: #e74c3c;
  --exercise-alert-border-color: #e74c3c;
  --exercise-alert-link-color: #ffffff;
}
